/* general */
html {
	background: #222;
	color: #eee;
	font-family: "Open Sans", "Noto Sans", sans;
	height: calc(100vh - 15px);
	overflow: hidden;
}

button {
	background-color: #0042a5;
	border: none;
	border-radius: 3px;
	color: #eee;
	font-size: 16px;
	padding: 5px 8px;
	margin: 5px;
}

input, textarea {
	border: 1px dotted #aaa;
	border-radius: 4px;
	background-color: #444;
	color: #bbb;
	font-size: 14px;
	padding: 4px;
	margin: 5px;
}

/* config page */

button.config {
	background: none;
	border: none;
	height: 32px;
	position: fixed;
	right: 5px;
	top: 5px;
	width: 32px;
	-webkit-app-region: no-drag;
}
button.config svg {
	fill: #666;
	height: 100%;
	width: 100%;
}

div.proto.single-tab-cfg {
	display: none;
}

div.tab-cfg-headers span {
	color: #eee;
	display: inline-block;
	padding: 5px;
	margin: 5px;
	width: 200px;
}

div.tab-cfgs div.single-tab-cfg input {
	width: 200px;
}

/* electron tabs */

.etabs-tabgroup {
	background-color: #222;
	width: 100%;
	height: 42px;
	cursor: default;
	font: caption;
	font-size: 14px;
	-webkit-app-region: drag;
	-webkit-user-select: none;
	user-select: none;
	display: none;
}
.etabs-tabgroup.visible {
	display: block;
}

.etabs-tabs {
	display: inline-block;
	-webkit-app-region: no-drag;
}

.etabs-tab {
	background-color: #555;
	border: none;
	border-radius: 10px 10px 0 0;
	cursor: default;
	display: none;
	font: caption;
	font-size: 14px;
	height: 32px;
	padding: 6px 8px 0;
	position: relative;
	margin: 2px;
}

.etabs-tab.visible {
	display: inline-block;
}

.etabs-tab.active {
	background-color: #58c;
}

.etabs-tab.loading {
	border-bottom: 3px dashed #2B2;
}

.etabs-tab.flash {
	background: linear-gradient(to bottom, rgba(255,243,170,1) 0%,rgba(255,227,37,1) 100%);
}

.etabs-buttons {
	display: none;
}

.etabs-tab-badge {
	border-radius: 100%;
	height: 10px;
	padding: 0 5px;
	position: absolute;
	right: 0;
	top: 0;
	width: 10px;
}

.etabs-tab-badge img {
	height: 100%;
	width: 100%;
}

.etabs-tab-badge.hidden {
	display: none;
}

.etabs-tab-icon {
	display: inline-block;
	height: 32px;
}

.etabs-tab-icon img {
	max-width: 32px;
	max-height: 32px;
}

.etabs-views {
	position: relative;
	border-top: 1px solid #aaa;
	height: calc(100vh - 60px);
}

.etab-view {
	position: relative;
}

.etabs-tab-title {
	display: none;
}

.etabs-tab-buttons {
	display: none;
}