/* general */
html {
	background: #1a1d21;
	color: #eee;
	font-family: "Open Sans", "Noto Sans", sans;
	overflow: hidden;
}

body {
	margin: 0;
	padding: 5px;
}

button {
	background-color: #0a487a;
	border: none;
	border-radius: 3px;
	color: #eee;
	font-size: 16px;
	padding: 5px 8px;
	margin: 5px;
}

input, textarea {
	border: 1px dotted #aaa;
	border-radius: 4px;
	background-color: #444;
	color: #bbb;
	font-size: 14px;
	padding: 4px;
	margin: 5px;
}

button.back, button.forward, button.config, button.minimize, button.maximize, button.close {
	background: none;
	border: none;
	border-radius: 4px;
	height: 32px;
	outline: none;
	position: fixed;
	top: 5px;
	width: 32px;
	-webkit-app-region: no-drag;
}
button.back:hover, button.forward:hover, button.config:hover, button.minimize:hover, button.maximize:hover, button.close:hover {
	background: #36373899;
}
button.back svg, button.forward svg, button.minimize svg, button.maximize svg, button.close svg {
	height: 100%;
	stroke: #666;
	width: 100%;
}
button.back svg, button.forward svg, button.config svg {
	fill: #666;
	height: 100%;
	width: 100%;
}

button.back:hover svg, button.forward:hover svg, button.minimize:hover svg,
button.maximize:hover svg, button.close:hover svg {
	stroke: #AAA;
}

button.back:hover svg, button.forward:hover svg, button.config:hover svg {
	fill: #AAA;
}

button.back {
	right: 190px;
}
button.forward {
	right: 153px;
}
button.config {
	right: 116px;
}
button.minimize {
	right: 79px;
}
button.maximize {
	right: 42px;
}
button.close {
	right: 5px;
}

div.header-bg {
	background-color: transparent;
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 42px;
	-webkit-app-region: drag;
	z-index: -1;
}
